.form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.input {
  height: 30px;
  border-color: #000;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px;
  font-size: 18px;
}

.input:focus {
  outline: none;
  box-shadow: 0px 2px 5px #22ea85;
}

.button {
  background-color: #00d468;
  border-color: #00d468;
  border-radius: 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.15s ease-out;
}

.button:hover {
  background-color: #03a050;
}